<!DOCTYPE html>

<html lang="pl">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Dodaj Książkę </title>
    <meta name="description" content="Strona Biblioteki" />

    <!-- Title -->
    <meta property="LibraryApp" content="" />
    <!-- OPTIONAL description. 2-4 sentences. -->
    <meta property="LibraryApp" content="" />
    <meta property="og:url" content="https://github.com/MaciejBoniaszczuk/LibraryApp" />
    <!-- full url to the image with http(s) ie. https://github.com/MaciejBoniaszczuk/LibraryApp/assets/img/fb.png. Facebook suggests at least 1200 x 630. -->
    <meta property="og:image" content="https://github.com/MaciejBoniaszczuk/LibraryApp/assets/img/cover.png" />

    <!-- to u góry to takie google analitycs troche mozna w wolnej chwili sie tym zająć-->

    <link rel="manifest" href="manifest.json" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="apple-touch-icon" sizes="192x192" href="http://localhost:3000/myFiles/assets/img/logo.jpg" />

    <link rel="Shortcut icon" href="http://localhost:3000/myFiles/assets/img/logo.jpg" />
    <!-- to potrzebne do PWA, później trzeba zrobic jakas ikonke i dodać-->
    <link rel="stylesheet" href="http://localhost:3000/myFiles/scss/main.css" />

    <link href="https://fonts.googleapis.com/css?family=Anton|Josefin+Sans|Pathway+Gothic+One|Raleway" rel="stylesheet">

</head>

<body>
    <div class="container" />
    <div class="logo">
        <div class="obraz_logo">
            <a href="/" target="blank">
                <img src="http://localhost:3000/myFiles/assets/img/logo.jpg" width="70" height="70">
            </a>
        </div>
        <div class="text_logo">
            <span style="color:black">
                <font size="6">Biblioteka</font>
            </span>
            <br>LibraryApp
        </div>

    </div>

    <div class="menu">
        <ul>

            <li class="dropdown"><a class="active" href="spis" class="dropbtn">Spis książek</a></li>
            <li><a href="dashboard">Panel użytkownika</a></li>
            <li><a href="/user/logout">Wyloguj</a></li>
        </ul>
    </div>
    <div style="clear:both"></div>
    <div class="spacer"></div>

    <div class="content">

        <div class="text_content_afterlogin">

            <main class="registration_main">
                <div class="article__wrapper">
                    <h2 class="formHeader">Dodaj książkę</h2>
                    <div class="form__wrapper">
                        <form action="/products" method="POST" class="addBook__Form form">
                            <div class="form__bar">
                                <label class="form__bar" for="bookName"><span><img alt="Obrazek"
                                            src="http://localhost:3000/myFiles/assets/img/logo.jpg" width="23"
                                            height="23" class="userImage"></span></label>
                                <input type="text" name="name" id="name" placeholder="Tytuł" required="required">
                            </div>
                            <div class="form__bar">
                                <label class="form__bar" for="Author"><span><img alt="Obrazek"
                                            src="http://localhost:3000/myFiles/assets/img/user.png"
                                            class="userImage"></span></label>
                                <input type="text" name="price" id="price" placeholder="Autor" required="required">
                            </div>

                            <div class="spacer2"></div>

                            <button class="form__button">Dodaj</button>

                        </form>
                    </div>
                </div>
            </main>

            <h1>Spis wszystkich pozycji</h1>
            <div class="wszystkie_ksiazki"></div>



        </div>
    </div>


    </div>
    <div class="stopka">
        2019 &copy; Boniaszczuk Kuderewski Ulenberg
    </div>

</body>
<script src=http://localhost:3000/myFiles/js/main.js> </script> </html>