<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dodaj książkę</title>
</head>
<body>
    <main class="registration_main">
        <div class="article__wrapper">
            <h2 class="formHeader">Dodaj książkę</h2>
            <div class="form__wrapper">
                <form action="/user/addBook" method="POST" class="addBook__Form form">
                    <div class="form__bar">
                        <label class="form__bar" for="bookName"><span><img alt="Obrazek"
                                    src="http://localhost:3000/myFiles/assets/img/user.png"
                                    class="userImage"></span></label>
                        <input type="text" name="name" id="name" placeholder="Tytuł" required="required">
                    </div>
                    <div class="form__bar">
                        <label class="form__bar" for="Author"><span><img alt="Obrazek"
                                    src="http://localhost:3000/myFiles/assets/img/password.png"
                                    class="userImage"></span></label>
                        <input type="text" name="author" id="author" placeholder="Autor" required="required">
                    </div>
                    

            
                    <button class="form__button">Dodaj</button>
                    
                </form>
            </div>
        </div>
    </main>
</body>
</html>