<!Doctype html>

<html lang="pl">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Rejestracja </title>
    <meta name="description" content="Rejestracja" />

    <!-- Title -->
    <meta property="LibraryApp" content="" />
    <!-- OPTIONAL description. 2-4 sentences. -->
    <meta property="LibraryApp" content="" />
    <meta property="og:url" content="https://github.com/MaciejBoniaszczuk/LibraryApp" />
    <!-- full url to the image with http(s) ie. https://github.com/MaciejBoniaszczuk/LibraryApp/assets/img/fb.png. Facebook suggests at least 1200 x 630. -->
    <meta property="og:image" content="https://github.com/MaciejBoniaszczuk/LibraryApp/assets/img/cover.png" />

    <!-- to u góry to takie google analitycs troche mozna w wolnej chwili sie tym zająć-->

    <link rel="manifest" href="manifest.json" />


    <link href="https://fonts.googleapis.com/css?family=Anton|Josefin+Sans|Pathway+Gothic+One|Raleway" rel="stylesheet">

</head>

<body>
    <div class="container">
        <div class="gorna_belka">
            <div class="logo">
                <div class="obraz_logo">
                    <a href="https://maciejboniaszczuk.github.io/LibraryApp">
                        <img src="http://localhost:3000/myFiles/assets/img/logo.jpg" width="70" height="70">
                    </a>
                </div>
                <div class="text_logo">
                    <span style="color:black">
                        <font size="6">Biblioteka</font>
                    </span>
                    <br>LibraryApp
                </div>
            </div>

            <div class="menu">
                <ul>
                    <li><a href="index.html">Strona główna</a></li>
                    <li class="dropdown"><a href="spis.html" class="dropbtn">Spis książek</a></li>
                    <li><a class="active" href="rejestracja.html">Rejestracja</a></li>
                </ul>
            </div>
        </div>

        <div style="clear:both"></div>
        <div class="spacer"></div>

        <div class="content">

            <div class="text_content">

                <h1>Witaj na stronie rejestracji do serwisu biblioteki</h1>
                <main class="registration_main">
                    <div class="article__wrapper">
                        <h2 class="formHeader">Rejestracyja</h2>
                        <div class="form__wrapper">
                            <form action="/user/signup" method="POST" class="registerForm form">
                                <div class="form__bar">
                                    <label class="test__label" for="userName"><span><img alt="Obrazek"
                                                src="http://localhost:3000/myFiles/assets/img/user.png"
                                                class="userImage"></span></label>
                                    <input class="test__input" type="text" name="userName" id="name" placeholder="Login"
                                        required="required">
                                </div>
                                <div class="form__bar">
                                    <label class="test__label" for="password"><span><img alt="Obrazek"
                                                src="http://localhost:3000/myFiles/assets/img/password.png"
                                                class="userImage"></span></label>
                                    <input class="test__input" type="password" name="password" placeholder="Hasło"
                                        required="required">
                                </div>
                                <div class="form__bar">
                                    <label class="test__label" for="passwordConfirm"><span><img alt="Obrazek"
                                                src="http://localhost:3000/myFiles/assets/img/password.png"
                                                class="userImage"></span></label>
                                    <input class="test__input" type="password" name="passwordConfirm"
                                        placeholder="Potwierdź hasło" required="required">
                                </div>
                                <div class="form__bar">
                                    <label class="test__label" for="email"><span><img alt="Obrazek"
                                                src="http://localhost:3000/myFiles/assets/img/email.png"
                                                class="userImage"></span></label>
                                    <input class="test__input" type="text" name="email" id="email" placeholder="Email"
                                        required="required">
                                    <div class="checkbox">
                                        <label class="test__label" for="checkbox">
                                            <p>Zapoznałem się z regulaminem <input class="chexbox_item" type="checkbox"
                                                    name="checkbox">
                                            </p>
                                        </label>
                                    </div>
                                    <button class="form__button">Zarejestruj się</button>
                                    <button class="form__button"><a href="/" style="color:black">Masz już
                                            konto? Zaloguj się</a></button>
                            </form>
                        </div>
                    </div>
                </main>

                <p>Strona, którą przeglądasz jest storzona w ramach przedmiotu "Projekt grupowy II".</p>

            </div>
        </div>


    </div>
    <div class="stopka">
        2019 &copy; Boniaszczuk Kuderewski Ulenberg
    </div>




</body>


</html>